<div class="row">
    <div class="col-md-5">
        <h3>Recipes List</h3>
        <app-recipe-list>
            <!-- Handled by RecipeService now -->
            <!-- (recipeItemSelected)="selectedRecipe = $event"> -->
        </app-recipe-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>        


        <!-- <h3>Recipes Detail</h3>
        <app-recipe-detail
            *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe">
        </app-recipe-detail>
        // Dummy text to display when no recipe has been selected
        <ng-template #infoText>
            <p>Please select a Recipe</p>
        </ng-template> -->
    </div>
</div>
